.buttons-container{
  width: 100%;
  height: 60px;
}

.first-button{
  position: relative;
  width: 50%;
  height: 100%;
  background: #F06292;

  &-selected{
    background: #E91E63;
  }
}

.second-button{
  position: relative;
  width: 50%;
  height: 100%;
  background: #F06292;

  &-selected{
    background: #E91E63;
  }
}
